<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex>
  <div class="container-fluid">
      <a class="navbar-brand fs-3" href="#">
      <img src="/assets/Logo11.png" />
      Lencer Ondijo
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav fs-4">
			<li class="nav-item"><%= link_to "Work" , root_path, class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "About" , about_path, class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "Service" , service_path, class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "Blog" , blog_path, class: "nav-link" %></li>
			<li class="nav-item"><%= link_to "Contact" , contact_path, class: "nav-link" %></li>
      </ul>
    </div>
  </div>
</nav>
